
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=GBK"/>
    <title>网易新闻_聚合阅读</title>
    <base target="_blank"/>
    <link rel="stylesheet" type="text/css" href="http://img4.cache.netease.com/product/tag/1.7/style/index.css"/>
    
    <!--[if lte IE 7]>
    <style type="text/css">
        html {
            padding: 72px 0 70px;
        }
        .bd {
            height: 100%;
            position: static;
        }
    </style>
    <script type="text/javascript">
        // 解决滚动页面之后，再刷新页面而产生布局混乱的问题
        window.onbeforeunload = function () {
            document.documentElement.scrollTop = 0;
        };
    </script>
    <![endif]-->
    <!--[if lte IE 8]>
    <style type="text/css">
        #stage .tag a:hover {
        }
    </style>
    <![endif]-->
    <style type="text/css" id="animation_rules"></style>
</head>
<body>
<script id="tag_template" type="text/x-micro-template">
    <%
        var doctitle = data.doctitle,
            title = doctitle || '';
    %>
    <a href="<%=data.url%>?from=tagwall" title="<%=title%>" >
        <span class="inner"><%=data.name%>
            <% if(doctitle) { %>
            <span class="doc-title"><%=doctitle%></span>
            <% } %>
        </span><i></i>
    </a>
</script>
<script id="animation_template" type="text/x-micro-template">
    <%
        var prefix = data.prefix, offset = data.offset;
    %>
    @<%=prefix%>keyframes left-out {
    0% {
    <%=prefix%>transform: translateX(0);
    }
    100% {
    <%=prefix%>transform: translateX(-<%=offset%>px);
    }
    }
    @<%=prefix%>keyframes right-in {
    0% {
    <%=prefix%>transform: translateX(<%=offset%>px);
    }
    100% {
    <%=prefix%>transform: translateX(0);
    }
    }
    @<%=prefix%>keyframes right-out {
    0% {
    <%=prefix%>transform: translateX(0);
    }
    100% {
    <%=prefix%>transform: translateX(<%=offset%>px);
    }
    }
    @<%=prefix%>keyframes left-in {
    0% {
    <%=prefix%>transform: translateX(-<%=offset%>px);
    }
    100% {
    <%=prefix%>transform: translateX(0);
    }
    }
</script>
<div class="hd">
    <a href="http://news.tag.163.com" target="_self" class="logo"></a>
    <a href="http://news.163.com" class="slogan"></a>
    <span class="refresh-bg"><a target="_self" id="refresh"></a></span>
</div>
<div class="bd">
    <div id="stage"></div>
</div>
<div class="ft">
    <div id="nav_bar" class="nav-bar">
        <span id="nav_current"><i></i></span>
        <a target="_self" hidefocus="true" href="#from=today" class="today"><i></i><label>今天</label></a>
        <a target="_self" hidefocus="true" href="#from=three-days" class="three-days"><i></i><label>三天</label></a>
        <a target="_self" hidefocus="true" href="#from=one-week" class="one-week"><i></i><label>一周</label></a>
        <div class="bg"></div>
    </div>
    <div class="nav-bottom">
        <div class="company-info">
            <a style="font-family: arial;font-size: 14px;padding:0;">&copy;</a> <a style="padding-left:0;">1997-2013
            网易公司版权所有</a> <a href="http://corp.163.com/">About NetEase</a> | <a
                href="http://gb.corp.163.com/gb/about/overview.html">公司简介</a> | <a
                href="http://gb.corp.163.com/gb/contactus.html">联系方法</a> | <a
                href="http://corp.163.com/gb/job/job.html">招聘信息</a> | <a href="http://help.163.com/ ">客户服务</a> | <a
                href="http://gb.corp.163.com/gb/legal.html">隐私政策</a> | <a href="http://emarketing.biz.163.com/">网络营销</a>
            | <a href="http://sitemap.163.com/">网站地图</a> | <a
                href="http://news.163.com/special/i/000117JD/index_history.html">历史回顾</a> | <a
                href="http://t.163.com/zt/feedback">意见反馈</a> | <a href="http://www.bjjubao.org/index.htm">不良信息举报</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://news.tag.163.com/tagwall24.js" charset="GBK"></script>
<script type="text/javascript" src="http://news.tag.163.com/tagwall72.html" charset="GBK"></script>
<script type="text/javascript" src="http://news.tag.163.com/tagwall168.html" charset="GBK"></script>
<script type="text/javascript" src="http://img4.cache.netease.com/product/tag/1.7/js/index_2.js"></script>
<!-- START NetEase Devilfish 2006 -->
<script src="http://analytics.163.com/ntes.js" type="text/javascript"></script>
<script type="text/javascript">
    _ntes_nacc = "news";
    neteaseTracker();
</script>
<!-- END NetEase Devilfish 2006 -->
</body>
</html>